

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: Lato, "Lucida Grande", "Lucida Sans Unicode", Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
  ==========================================================
  End of reset
  ==========================================================
*/
/*pink: #E91E63*/

#root, body{
  background-color: #3F51B5;
  overflow: hidden;
  margin: 0;
}
.App {
  width: 300px;
  height: 500px;
  border: 2px solid black;
  margin: 10px auto;
  /*background-color: aqua;*/
  background-color: #ffffff;
  position: relative;
}

/*
  ==========================================================
 header
  ==========================================================
*/

.header{
  background-color: #E3EAF5;
  height: 80px;
  display: flex;
}

.day-date, .tasks-pending{
  flex: 1;
  align-self: center;
}

.tasks-pending{
  margin-right: -35px;
}

.day-date{
  margin-left: 10px;
}

.day-date p{
  position: relative;
  bottom: -5px;
}

.day-date span{
  position: relative;
  top: -5px;
}

.tasks-pending{

}

/*
  ==========================================================
  List item
  ==========================================================
*/

.list-board{
  /*background-color: green;*/
  width: 100%;
  /*background-color: aquamarine;*/
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.list-item{
  display: flex;
  height: 50px;
  border-bottom: 1px solid #cccccc;
}

.list-item span, .input-checkbox-container{
  flex: 2 0;
  align-self: center;
}


.input-checkbox-container{
  /*background-color: fuchsia;*/
  position: relative;
  flex: 0.5;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  align-self: center;
  /*border: 2px solid black;*/
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -2px;
  cursor: pointer;
}


input[type="checkbox"]{
  position: relative;
  /*left: -3px;*/
  /*top: -3px;*/
  appearance: none;
  background-color: #E91E63;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  cursor: pointer;
  /*outline: 1px solid red;*/
}

input[type="checkbox"]:focus{
  outline: none;
}

input[type="checkbox"]:hover {
  opacity: 0.8;
  z-index: 0;
}

/*.input-checkbox-result:before{*/
  /*content: "";*/
  /*background-color: aqua;*/
  /*width: 50px;*/
  /*height: 50px;*/
  /*position: absolute;*/
/*}*/

.input-checkbox-result{
  position: absolute;
  left: 5px;
  top: 5px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: none;
  pointer-events: none;

}


input[type="checkbox"]:checked + .input-checkbox-result{
  opacity: 1;
  display: inline;


}

.list-item p{
  /*background-color: red;*/
  flex: 5;
  align-self: center;
  margin-left: 10px;
}

.list-item span{
  position: relative;
  margin-right: -20px;
}

.remove-item{
  border: none;
  display: inline-block;
  height: 20px;
  position: relative;
  top: 12px;
  right: 5px;
  background-color: white;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.4s ease;
}

.list-item:hover .remove-item{
  opacity: 1;
  transform: translateY(0px);
}

.remove-item:focus{
  outline: none;
}

/*
  ==========================================================
  Add todo form
  ==========================================================
*/

.add-todo-form{
  background-color: #cccccc;
  position: fixed;
  width: 20vw;
  height: 20vh;
  top: 30vh;
  padding: 8px;
  /*z-index: 1000;*/
}

.add-todo-form input {
  margin-top: 10px;
  margin-left: 10px;
}

input.time-input{
  margin-left: 7px;
}

.add-todo-form button{
  margin: 15px 5px;
  cursor: pointer;
}

input[type="submit"] {
  margin-left: 10px;
  cursor: pointer;
}



/*
  ==========================================================
  footer
  ==========================================================
*/

.add-button-container{
  position: absolute;
  bottom: 30px;
}

.add-button{
  position: relative;
  width: 40px;
  height: 40px;
  transform: translateX(600%);
  top: 15px;
  border: hidden;
  background-color: white;
  cursor: pointer;
}

.add-button:focus{
  outline: none;
}

.add-button:before {
  content: "+";
  font-size: 28px;
  position: absolute;
  background-color: #E91E63;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: white;
}

